#coscos {
    width: 400px;
    height: 40px;
    background-color: #0a9396;
    border: medium solid darkblue;
    text-align: center;
}
  
.h2s {
    width: 200px;
    height: 30px;
    background-color: #94d2bd;
    border: medium dotted #0a9396;
    text-align: center;
}
