[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "*"}
bcrypt = "*"
pillow = "*"
django-bootstrap4 = "*"
misaka = "*"
django-braces = "*"

[dev-packages]

[requires]
python_version = "3.10"
